.cuadradoArtista {
  width: 90%; 
  max-width: 800px; 
  background-color: rgb(186, 222, 186);
  margin: 10px; 
  padding: 10px;
  box-shadow: 2px 2px 10px lavender;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cuadradoArtista h3{
  width: 100%;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.cuadradoArtista p{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.cuadradoArtista img {
  width: calc(50% - 10px);
  height: auto; 
  margin-bottom: 10px; 
  margin-top: 10px; 
  display: block; 
  object-fit: cover; 
}
.cuadradoArtista a {
flex: 0 0 calc(50% - 10px); 
margin-bottom: 10px; 
}
.cuadradoArtista a>img {
width: 70%;
height: 70%;
margin-left: 10%;
display: block; 
object-fit: cover; 
}

.vi単etasD {
  list-style-type: none;
  background-color: transparent;
  width: calc(50% - 10px); 
  padding: 0;
  margin: 0;

}

.vi単etasD > li {
  position: relative; 
  text-decoration: underline;
}


.vi単etas-subD {
  background-color: transparent; 
}

.conteVi単etasD{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}