body {
  background-color: beige;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1, h5{
    color: rgb(0, 124, 124);
    width: auto;
    height: fit-content;
    text-align: center;
    text-decoration: underline;
}
.menuInicial {
  background-color: lavender;
  display: flex;
  justify-content: center;
}

.menuInicial > ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.menuInicial > ul > li {
  display: inline-block;
}

.menuInicial > ul > li > a {
  display: block;
  color: #7b68ee;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.menuInicial > ul > li > a:hover {
  background-color: rgb(165, 245, 245);
}

.menuArtista {
  background-color: #e6e6fa;
}

.menuArtista > ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menuArtista > ul > li {
  float: left;
}

.menuArtista > ul > li > a {
  display: block;
  color: #7b68ee;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.menuArtista > ul > li > a:hover {
  background-color: rgb(165, 245, 245);
}

.menuPrincipal {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menuPrincipal > li {
  float: left;
}

.menuPrincipal > li > a {
  display: block;
  color: #7B68EE;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}


img{
    width: 50%;
    border: 2px solid #0e1b2c;
}
button{
    color: white;
    width: 8%;
    background-color: #0e1b2c;
    margin-right: 3.5%;
}
button:hover{
    background-color: rgb(0, 124, 124);
}
h3{
    text-decoration: underline;
    color:#0e1b2c;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
  .cuadrado {
    width: 350px;
    height: 300px;
    background-color: #ccc;
    margin-right: 10px; 
    padding: 10px;
    box-shadow: 2px 2px 10px aquamarine;
    overflow-y: auto;
  }

  .cuadrado h3 {
    margin-top: 0;
  }
  .cuadrado img {
    width: 150px;
    height:150px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  .cuadrado button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

  .reloj{
    font-size: 18px;
    text-align: right;
    color: #7B68EE;
    margin-left: 1%;
    margin-top: 20%;
  }

  i{
    width: 35%;
    color:#F5DEB3;
  }
  .titulo{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 124, 124);
  }

  a{
    color: transparent;
  }

  .principal {
    border: 5px solid rgb(0, 124, 124);
    width: 90%; 
    max-width: 800px; 
    display: block;
    margin: auto;
  }

.viñetas {
    list-style-type: none;
    background-color: transparent;
    width: calc(50% - 10px); 
    padding: 0;
    margin: 0;
}

.viñetas > li {
    position: relative; 
    text-decoration: underline;
}


.viñetas-sub {
    background-color: transparent; 
    margin-left: 15px;
}

.conteViñetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

.columnas {
  display: flex;
}

.columna-izquierda {
  flex: 1;
}

.columna-derecha {
  flex: 1;
}
p{
  font-size: 15px;
}
.p5{
  font-size: 13px;
}

section{
  text-align: center;
  margin-right: 20px;
}

nav{
  text-align: center;
}
nav>button{
  background-color: rgb(0, 124, 124);
    position:relative;
}
input{
  margin: 2%;
}
.contenedorBotones{
  width: 100%;
  text-align: center;
}
.boton{
  height: 20px;
  background-color: aquamarine;
}
.boton>i{
  color: #0e1b2c;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e1b2c;
  color: white;
  padding: 20px;
  width: 100%;
}

footer nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer > nav > button{
  height: 50px;
  width: 50px;
}

.logoCopy {
  color: black;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .contenedor {
      flex-direction: row;
      justify-content: center;
  }

  .cuadradoArtista {
      width: 45%; 
  }

  .principal {
      width: 45%; 
  }
}
